:root{
    --light:#ffff2b;
    --dark:#000;
}

.widgets{
    padding:0;
    box-sizing:border-box;
    background-color: var(--dark);
    position: relative;
    overflow: hidden;

}
.widget-preview-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.widget-preview-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  /* Add this */
    height: 100%; /* Add this */
    object-fit: cover; /* Add this to make it fill properly */
    will-change: opacity;
    filter: saturate(0);
}

.widget-title{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    padding:0.25rem 0.5rem;
    background-color: var(--light);
    border-radius: 0.125rem;
    z-index:2;
}

#widget-svg{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#widget-indicator{
    stroke:var(--light);
    stroke-width:3;
    stroke-linecap: round;
    z-index: 1000;
}
