@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(/fonts/ArcaneNine.otf);
}
@font-face {
  font-family: font2;
  src: url(/fonts/League.otf);
}
@font-face {
  font-family: font3;
  src: url(/fonts/Lausanne-500.woff2);
}

@font-face {
  font-family: font4;
  src: url(/fonts/Lausanne-500.woff2);
}

body{
  background-color: #111;
}